<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Analista Programador Universitario</title>
		<link rel="stylesheet" href="../static/css/estilos.css" >
	</head>
	<body>
		<header>
				<h1>Programacion Visual</h1>
				<p><img alt="imagen defectuosa" src="../static/image/logo.png"></p>
				<h5>OBJETIVOS:</h5>
				<p>Que los estudiantes Instalen las herramientas para desarrollo; Java JDK 19 - Spring Tool Suite
Que puedan expresar las consignas de ejercicios en un formato de Historias de Usuario y la representen en Proyectos de GitHub
Introducir en el manejo del lenguaje de programación Java: Creación de clases, atributos, métodos y estructuras de control selectivas
Que puedan subir el desarrollo de ejercicios en el repositorio de GitHub</p>
				<h1>Enlaces de utilidad</h1>		
		</header>
		
		<nav>
			<ul>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Aula virtual Programacion Visual</a></li>
				<li><a href="https://docs.google.com/spreadsheets/d/1Tby5h4rLHXyPjPzEhfdCaqYaQwemx5e_/edit#gid=855484716">Registro seguimiento</a></li>
				<li><a href="https://www.youtube.com/watch?v=WUJV7yDlXSU">Enlace primer clase de programacion visual</a></li>			
			</ul>	
		</nav>
	
		<main>
			<section id="inicio">
					<h2>Docente a cargo de la teoria: </h2>
					<p>. Ariel vega</p>
						<table class="formato" border="2">				
							<caption>Horario de consultas</caption>
							<thead>
								<tr>
									<th>Juan Carlos</th>
									<th>Apaza Carolina</th>
									<th>Gustavo Sosa</th>
									<th>Ariel Vega</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Miercoles de 18:00 a 19:00hs</td>
									<td>Juves de 17:00 a 18:00hs</td>
									<td>Juves de 20:00 a 21:00hs</td> 
									<td>Viernees 08:30 a 09:30hs</td>
								</tr>	
							</tbody>										
						</table>	
			</section>		
		</main>
		
		<aside class="pie">
			<h3>Evaluaciones</h3>
			<p class="pie">Primer parcial Miercoles 15/05 08:00hs</p>
		</aside>
		<footer class="pie">
			<h3>Informacion de contacto</h3>
			<a>jcrodriguez@fi.unju.edu.ar</a>		
			<nav>
				<a href="https://www.fi.unju.edu.ar">pagina de la facultad</a>
			</nav>	
		</footer>		
	</body>
</html>