<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Programacion Visual</title>
	</head>
	<body>
		<header>Unidad 5
				<h1>uso de html</h1>		
		</header>
		
		<nav>
			<ul>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Aula virtual Programacion Visual</a></li>
				<li><a href="https://docs.google.com/spreadsheets/d/1Tby5h4rLHXyPjPzEhfdCaqYaQwemx5e_/edit#gid=855484716">Registro seguimiento</a></li>
				<li><a href="https://www.youtube.com/watch?v=WUJV7yDlXSU">Enlace primer clase de programacion visual</a></li>			
			</ul>	
		</nav>
	
		<main>
			<section id="inicio">
					<h2>deocente a cargo de la teoria: </h2>
					<p>. Ariel vega</p>
					<h3>docentes a cargo de la practica</h3>
					<ol>
						<li>Apaza Carolina</li>
						<li>Juan Carlos</li>
						<li>Gustavo Sosa</li>
					</ol>
			</section>		
		</main>
		
		<aside>
			<h3>Adicionales</h3>
			<p>contenido del aside</p>
			<img alt="imagen defectuosa" src="../static/image/logo.png)">
		</aside>
	</body>
</html>